.contact {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  .imageBox {
    /* background-color: beige; */
    width: 300px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    & img {
      height: 100%;
      object-fit: cover;
      position: absolute;
      left: -200px;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}