.boxProjects {
  width: max-content;
  display: flex;
  flex-direction: column; }
  .boxProjects .boxProject {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .boxProjects .boxProject:not(:first-child) {
      border-top: 1px solid grey; }
    .boxProjects .boxProject .detail {
      width: 500px;
      display: flex;
      justify-content: space-between; }
      .boxProjects .boxProject .detail p {
        display: flex;
        align-items: center; }
        .boxProjects .boxProject .detail p i {
          margin-right: 10px;
          font-size: 8px; }
      .boxProjects .boxProject .detail img {
        width: 100px;
        height: 60px;
        object-fit: contain;
        border-radius: 5px;
        overflow: hidden;
        background-color: #EAF0F7; }
    .boxProjects .boxProject .btn-group {
      margin-left: 50px;
      display: flex;
      gap: 20px; }
      .boxProjects .boxProject .btn-group button {
        padding: 6px 12px;
        border: 0;
        border-radius: 5px;
        cursor: pointer;
        font-family: Montserrat;
        color: #FFF; }
      .boxProjects .boxProject .btn-group .btn-edit {
        background-color: #FFF9E9;
        color: #F4BA24; }
      .boxProjects .boxProject .btn-group .btn-delete {
        background-color: #FFEFEF;
        color: #F93333; }
