.hero {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Montserrat;
  .content {
    width: 514px;
    & h3 {
      font-size: 20px;
    }
    & h1 {
      font-size: 50px;
      font-weight: 600;
    }
    & p {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.64px;
    }
  }
  .imageBox {
    width: 500px;
    height: 400px;
    overflow: hidden;
    // border-radius: 50px;
    // background-color: #FFF;
    position: relative;
    & img {
      width: 100%;
      // height: 100%;
      object-fit: cover;
      position: absolute;
      top: -10px;
    }
  }
}

@media (max-width:800px) {
  .hero {
    .imageBox {
      height: 250px;
    }
  }
}

@media (max-width:480px) {
  .hero {
    flex-direction: column-reverse;
    .imageBox {
      width: 310px;
      height: 230px;
    }
    .content {
      margin-top: 30px;
      width: 90%;
      text-align: center;
      & h3 {
        font-size: 14px;
      }
      & h1 {
        font-size: 35px;
      }
      & p {
        line-height: 24px;
      }
    }
  }
}