.contact {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px; }
  .contact .imageBox {
    background-color: #FFF;
    width: 300px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    box-shadow: 10px 15px 20px 10px rgba(0, 0, 0, 0.25); }
    .contact .imageBox img {
      height: 100%;
      object-fit: cover;
      position: absolute;
      left: -100px; }
  .contact .content {
    color: #000;
    display: flex;
    flex-direction: column;
    gap: 50px;
    border-radius: 20px;
    padding: 110px 120px;
    background: #ECECEC;
    box-shadow: 10px 15px 20px 10px rgba(0, 0, 0, 0.25); }
    .contact .content h5, .contact .content h3 {
      display: flex;
      align-items: center; }
      .contact .content h5 i, .contact .content h3 i {
        margin-right: 24px;
        font-size: 28px; }

@media (max-width: 480px) {
  .contact {
    margin-top: 30px;
    flex-direction: column;
    gap: 20px; }
    .contact .imageBox {
      width: 150px;
      height: 250px; }
      .contact .imageBox img {
        left: 50%;
        transform: translateX(-50%); }
    .contact .content {
      width: 100%;
      padding: 50px 20px;
      margin-top: 20px;
      gap: 10px; } }
