@property --a {
  syntax: '<color>';
  inherits: false;
  initial-value: #FFF; }

@property --b {
  syntax: '<color>';
  inherits: false;
  initial-value: #FFF; }

.navbar {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .navbar .right {
    display: flex; }
    .navbar .right a:not(:last-child) {
      margin-right: 87px; }
  .navbar .item {
    transition: --a 0.3s, --b 0.3s;
    background: -webkit-linear-gradient(180deg, var(--a) 0%, var(--b) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500; }
    .navbar .item:hover {
      --a: #00F5A0;
      --b: #00D9F5; }

@media (max-width: 480px) {
  .navbar {
    margin-top: 27px; }
    .navbar .right a:not(:last-child) {
      margin-right: 30px; }
    .navbar a {
      color: #FFF;
      text-decoration: none;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 500; }
      .navbar a:hover {
        color: #00D9F5; } }
